server:
  port: 443

management:
  port: ${server.port}

logging:
  level:
    com:
      netflix: INFO
    org:
      springframework:
        web: INFO
      hibernate: ERROR

ribbon:
  ReadTimeout: 30000
  ConnectTimeout: 10000

logging.level.root: INFO

netflix:
  metrics:
    rest:
      metricName: api

# service routes
zuul:
  addProxyHeaders: false
  ignoredServices: '*'
  routes:
    packages:
      path: /api/v1.0/packages
      serviceId: svr-pack-mgr


---
spring:
  profiles: dev

---
spring:
  profiles: home
